@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/*Spacing*/
.mt-2 {
    margin-top: 2rem;
}


/*Utils*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.block-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.flex-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.navbar img {
    width: 100%;
    max-width: 200px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.navbar li {
    list-style: none;
}


/*POKEMON LISTING*/
.poke__card {
    margin: 2rem 0 0;
    padding: 2rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    border: 2px solid #000;
    text-align: center;
    position: relative;
}

.poke__card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.poke__card:hover {
    border: 2px solid red;
}

/*Buttons*/
.btn {
    padding: .5rem .7rem;
    margin: 0 .5rem;
}